// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    justify-content: center;
    text-align: center;
}

.container-home {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.header-home {
    width: 100%;
    height: 50px;
}

.navbar-color {
    background-color: red !important;
}

.content-home {
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 100px;
}